<%- include('partials/header') %>
    <div class="heading-container">
        <h1  class="task-title">To Do</h1>
    </div>
    <br>
    <div class="table-container">
        <div class="">
            <a class="btn" href="/add-new-task">Add a task</a>
            <br>
            <br>
            <table>
                <tr>
                    <th>Task no.</th>
                    <th>Task title</th>
                    <th>Task description</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Action</th>
                </tr>   
                <% for(let i=0; i < tasks.length; i++){%>
                    <tr>    
                        <td><%= i+1 %></td>
                        <td><%= tasks[i].title %></td>
                        <td><%= tasks[i].desc %></td>
                        <td><%= moment(tasks[i].createdAt).format("MMM DD, YYYY HH:mm:ss") %></td>
                        <td><%= moment(tasks[i].updatedAt).format("MMM DD, YYYY HH:mm:ss") %></td>
                        <td>
                            <a class="btn" href="/update-task?id=<%=tasks[i]._id%>">edit</a>
                            <br><br>
                            <a class="btn" href="/delete-task?id=<%=tasks[i]._id%>">delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
<%- include("partials/footer") %>